# vim /usr/lib/systemd/system/phpd.service
[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/php-fpm.pid
ExecStartPre=/opt/php/sbin/php-fpm -t
ExecStart=/opt/php/sbin/php-fpm -c /etc/php
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true
LimitNOFILE=64000

[Install]
WantedBy=multi-user.target
