# vim /usr/lib/systemd/system/phpd.service
[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
# 注意与 php-fpm.conf 中配置一致，否则启动时候会卡住
PIDFile=/opt/php/var/run/php-fpm.pid
ExecStartPre=/opt/php/sbin/php-fpm -t
ExecStart=/opt/php/sbin/php-fpm
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

[Install]
WantedBy=multi-user.target
