# vim /usr/lib/systemd/system/redisd.service
# systemctl start redisd
# systemctl enable redisd

[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
Type=forking
PIDFile=/var/run/redis.pid
ExecStart=/opt/redis/bin/redis-server /etc/redis.conf
ExecStop=/opt/redis/bin/redis-cli shutdown

[Install]
WantedBy=multi-user.target
